pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

.idea/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/discord.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
*.properties
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
*.class
target/classes/esgi/ascl/tournament/domain/entities/Tournament.class
target/classes/esgi/ascl/tournament/domain/mapper/TournamentMapper.class
target/classes/esgi/ascl/tournament/domain/service/FinalPhaseService.class
target/classes/esgi/ascl/tournament/domain/service/TournamentService.class
target/classes/esgi/ascl/tournament/infrastructure/web/controller/TournamentController.class
target/classes/esgi/ascl/tournament/infrastructure/web/request/TournamentRequest$TournamentRequestBuilder.class
target/classes/esgi/ascl/tournament/infrastructure/web/request/TournamentRequest.class
target/classes/esgi/ascl/tournament/infrastructure/web/response/TournamentResponse$TournamentResponseBuilder.class
target/classes/esgi/ascl/tournament/infrastructure/web/response/TournamentResponse.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/esgi.ascl.AsclApplicationTests.txt
target/surefire-reports/esgi.ascl.conversation.domain.services.ConversationServiceTest.txt
target/surefire-reports/esgi.ascl.conversation.domain.services.MessageServiceTest.txt
target/surefire-reports/esgi.ascl.news.domain.services.NewsServiceTest.txt
target/surefire-reports/TEST-esgi.ascl.AsclApplicationTests.xml
target/surefire-reports/TEST-esgi.ascl.conversation.domain.services.ConversationServiceTest.xml
target/surefire-reports/TEST-esgi.ascl.conversation.domain.services.MessageServiceTest.xml
target/surefire-reports/TEST-esgi.ascl.news.domain.services.NewsServiceTest.xml
target/surefire-reports/TEST-esgi.ascl.news.domain.services.TagServiceTest.xml
target/ASCL-0.0.1-SNAPSHOT.jar.original
