target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

.idea/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/discord.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
*.properties
*.properties
